@media (max-width: 768px) {
.home {
font-size: 10px;
}
}
img {
width: 50px;
height: 53px;
}
body {
font-family: Verdana, Arial, Helvetica, Sans-serif;
font-weight: bold;
font-size: small;
overflow: scroll;
}
a {
color: black;
text-decoration: none;
}
